body {
    background-color: #F5F5F5;
    padding:15px;
    font-family: 'Cousine', monospace;
    color:#D85857;
    margin:0px;
    letter-spacing:1px;
    

}
.wrapper{
    height:96.9vh;
    justify-content:space-between;
    border-style:solid;
    border-bottom-style:none;
    border-width:1px;
    border-color:#D85857;
    }

.wrapper.recipe{
    border-bottom-style:solid;
    padding:0;
   
}

nav {
    display:flex;
    justify-content:space-between;
    height:4.5vh;
}

.bottomnav {
    border-bottom-style:solid;
    border-bottom-width:1px;

}

.recipes-left-top{
    width:100%;
    display:flex;
    padding-left:3.5vw;
    padding-top: 2vh;

}

.linkbox {
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    border-right-style:solid;
    border-width:1px;
    border-color:#D85857;
    position:Relative;
}




.linkbox.last{
    border-style:none;
}

.quotebox-recipe{
    margin-bottom:5vh;
    font-style:italic;
    font-size:.9rem;
}

.quotewho-recipe {
    margin-bottom:3vh;
    font-size:.9rem;
    text-align:end;

}

.recipe-right-top{
    border-style:solid;
    border-width:1px;
    width:100%;
    height:auto;
    border-top-style:none;
    text-align:left;
    padding-bottom:3vh
    
}

.recipe-right-bottom{
    height:100%;
    text-align:left;
    width:100%;

}

.recipe-right-middle{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom-style:solid;
    border-width:1px;
    width:100%;
    height:auto;
}

.smallhead-m{
    padding:0;
    margin:0;
    font-weight: bold;
}

.middle-sections{
    border-right-style:solid;
    width:100%;
    padding:3%;
    border-width:1px;

    
}

ol{
    margin-left:3%;
    line-height:3vh;
}


.time{
    font-size:2.5em;
    text-align:center;
}

.smallhead{
    padding-left:3vh;
    font-weight: bold;
    margin-bottom:4vh;

}

.recipe{
    list-style-type:disc;
    padding-left:4.5vh;
    padding-right:0;
}
.navlink{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    letter-spacing:2px;
    z-index: 1;
    margin:0;
}

.navlink.active{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    letter-spacing:2px;
    z-index: 1;
    margin:0;
    color:#F5F5F5;
    background-color: #D85857;
}


.navlink:hover{
    position:absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    top:0;
    left:0;
    text-align:center;
    letter-spacing:2px;
    z-index: 1;
    margin:0;
    color:#F5F5F5;
    background-color: #D85857;
}






.linkbox.1 {
    justify-content:start;
}


.navhome{
    font-weight:bold;
    font-size:1em;
    text-align:start;
    padding-left:3vh;
}

a {
    text-decoration:none;
    color:#D85857;
}


.hero {
    display:flex;
    height:92.5vh;
}

.hero-about {
    display:flex;
    flex-direction: column;
    height:92.5vh;
    justify-content: space-between;
    border-width:1px;
    border-bottom-style:solid;
    border-top-style:solid;
    padding-left:3vh;
    
}

.hero-creator{
    display:flex;
    flex-direction: column;
    height:87.7vh;
    justify-content: space-between;
    border-width:1px;
    border-bottom-style:solid;
    border-top-style:solid;
    padding-left:3vh;
    margin-bottom:0;
    align-items: center;
    padding-bottom:0;

}


.creator-box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height:100%;
}

.year {
    margin:2vh;
}

.madeby{
    font-weight:bold;
    font-size:1.2em;
    margin-top:33vh;
}

.herotop {
    margin-top:3vh;
}

.heromiddle{
    display:flex;

}

.middle-left{
    margin-right:15vw;
}

ul{
    list-style-type:none;
    padding-left:0;
}

li{
    margin-bottom:2vh;
}

.abouth{
    margin-bottom: 5vh;
}



.left-box{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:stretch;
    width:50%;
    border-style:solid;
    border-left-style:none;
    border-width: 1px;
    border-color:#D85857;
}

.left-content{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    text-align:center;
    height:100%;
}

.heading{
    margin-top: 25%;
    margin-bottom: 25%;
    

}

.quotebox{
    margin-bottom:4vh;
    padding-right:5%;
    padding-left:5%;
}

.quotewho{
    margin-top:3vh;
}

.description{
    margin-bottom:6vh;
}

.right-box{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    width:50%;
    text-align:center;
    border-style:solid;
    border-left-style:none;
    border-right-style:none;
    border-width: 1px;
    border-color:#D85857;

}

.rbutton{
    display:flex;
    flex-direction: vertical;
    width:100%;
    height:100%;
    border-style:solid;
    border-width:1px;
    border-color:#D85857;
    align-items:end;
    justify-content: end;
    position:relative;


}

.rbox {
    display:flex;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
    position:absolute;
}

.rbox:hover {
    display:flex;
    height:100%;
    width:100%;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:#F5F5F5;
    background-color: #D85857;
}

.arrowbox {
    justify-content:end;
    padding-right:2vw;
    padding-bottom:2vh;
}

.rbutton.one {
    border-style:none;
}

.rbutton.last {
    border-style:none;
}

.description{
    font-weight:bold;
    font-size:1.3em;
    line-height:1.8em;
}

h2 {
    font-weight:bold;
    font-size:1.3em;
    line-height:1.8em;  
    letter-spacing:2px;
}

.quote {
    font-size:.9em;
    font-style:italic;
}

.quotewho {
    font-size:.9em;
    font-style:italic;
    text-align:end;
}

.gitbutton {
    margin-bottom:3vh;
    padding:3vh;
    border-style:solid;
    width:30%;
    border-width:1px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:relative;
}

.gitlink{
    display:flex;
    position:absolute;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 1;

}

.gitlink:hover{
    display:flex;
    position:absolute;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    position:absolute;
    z-index: 1;
    color:#F5F5F5;
    background-color: #D85857;

}


@media only screen and (min-width:375px) and (max-width:768px){

    .hero{
        display:flex;
        flex-direction: column;
    }

    .left-box{
        width:100%;
        height:auto;
        max-height:90vh;
    }

    .right-box{
        width:100%;
        border-top-style:none;
        display:flex;
        flex-direction: column;
        height:100%;


    }

    .rbutton{
        height:100%;
    }

    .rbox{
        height:100%;
    }

    .heading{
        margin-top:10%;
    }

    .description{
        font-size:1em;
        padding-left:3%;
        padding-right:3%;
    }

    .linbox{
        display:flex;
        flex-wrap:wrap;
        text-align: start;

    }

    .navlink{
        text-align:start;
        font-size:small;
        padding-left:2%;

    }

    .gitbutton{
        width:75%;
    }

    .heromiddle{
        font-size:small;
        display:block;
    }

    .recipeimage{

    }

}